@import '../../styles/settings.scss';

.icons {
	margin-left: 35px;
}

.icons_fb {
	margin-left: 60%;
	margin-bottom: -70%;
	width: 8px;
}

.icons_twitter {
	width: 20px;
}

.icons_yt {
	margin-left: 100%;
	width: 20px;
}

.icons_insta {
	margin-left: 50%;
	margin-top: -70%;
	width: 18px;
}

.icons_horizontal {
	display: flex;
}

@media screen and (max-width: 991px) {
	.icons {
		visibility: hidden;
	}
}
