@import '../../styles/settings.scss';

.navbar_container {
	display: flex;
	justify-content: flex-end;
	margin-right: 50px;
}

.navbar {
	position: absolute;
	z-index: 100;
	font-size: $base-size * 2;
}

.navbar_item {
	color: $color-light;
	margin-left: 20px;
}

.navbar_toggle {
	background-color: $color-light;
	margin-left: 100%;
}

.logo_white {
	width: 170px;
}

@media screen and (max-width: 768px) {
	.navbar {
		font-size: 1.5 * $base-size;
	}
}

@media screen and (max-width: 992px) {
	.logo_white {
		margin-left: 10px;
	}

	.navbar {
		width: 200px;
		margin-right: 10px;
	}
}

@media screen and (max-width: 1495px) {
	.logo_white {
		width: 120px;
		margin-right: 70px;
	}
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
	.navbar_item {
		font-size: 1.5 * $base-size;
	}

	.logo_white {
		padding-left: 5px;
	}
}

@media screen and (max-width: 1200px) {
	.navbar {
		font-size: $base-size * 1.5;
	}

	.logo_white {
		width: 80px;
		margin-right: 40px;
	}
}
