@import '../../styles/settings.scss';

.navbar_container {
	display: flex;
	justify-content: flex-end;
	margin-right: 50px;
}

.navbar {
	position: absolute;
	z-index: 100;
	font-size: $base-size * 2;
}

.navbar_item {
	color: $color-light;
	margin-left: 20px;
}

.navbar_toggle {
	background-color: $color-light;
}

.logo_white {
	width: 170px;
	margin-right: 300px;
}

@media screen and (max-width: 1300px) {
	.navbar {
		font-size: $base-size * 1.5;
	}

	.logo_white {
		width: 80px;
		margin-right: 40px;
	}
}
